body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 200px;

}

.turno-display {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#numero-turno {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
}

.texto-turno {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.mando{
  width: 60%;
  background-color: #424242;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mando__principal{
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  background-color: #222;
}

.contenedores__botones{
  all: unset;
  width: 80px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 300ms linear;
  font-weight: 500;
  font-size: 20px;
}

.contenedores__botones:hover{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

#botones__reset{
  background-color: rgb(131, 47, 47);
}
#botones__reset:hover{
  background-color: rgb(175, 35, 35);
}

#botones__anterior{
  background-color: rgb(131, 93, 47);
}

#botones__anterior:hover{
  background-color: rgb(181, 120, 45);

}

#botones__siguiente{
  background-color: rgb(26, 88, 42);
  width: 150px;
}

#botones__siguiente:hover{
  background-color: rgb(34, 135, 59);
}

.mando__secundario{
  width: 75%;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #222;
}

.contenedor__form{
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.secundario__contenedor{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#form__input{
  all: unset;
  background-color: #ccc;
  width: 60%;
  border-radius: 5px 0px 0px 5px;
  height: 40px;
  padding-left: 10px;
}

#form__button{
  all: unset;
  height: 40px;
  width: 40%;
  background-color: rgb(101, 121, 203);
  border-radius: 0px 5px 5px 0;
  text-align: center;
  cursor: pointer;
  transition: all 300ms linear;
}
#form__button:hover{
  background-color: rgb(62, 92, 212);
}

